.admin {
	display: flex;
	justify-content: space-between;
	min-height: 100vh;
	&__sidebar {
		padding: 3rem 2rem;
		width: 16%;
		color: white;
		background: #444;
	}
	&__main {
		flex: 1;
		background: #f1f1f1;
	}
	&__title {
		margin-bottom: 2rem;
		padding-bottom: 2rem;
		border-bottom: 1px solid #666;
	}
}
