//grid
$xs:  320px;
$md:  768px;
$xl:  1150px;

//accent colors
$accent-dark: #68273D;
$accent: #905267;
$accent-light: #e7bfbf;
$text-color: black;
$text-light: #909090;
$contrast: #c1bb63;
