.menu-item {
	position: relative;
	display: flex;
	flex-direction: column;
	padding: 1rem;
	background: white;
	box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
	&__img {
		position: relative;
		height: 26rem;
		img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
			z-index: 1;
		}
		span {
			position: absolute;
			top: 0.4rem;
			right: 0.4rem;
			padding: 1rem 2rem;
			font-weight: bold;
			color: white;
			background: green;
			box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
			z-index: 2;
		}
	}
	&__content {
		display: flex;
		flex-direction: column;
		flex: 1;
		padding: 2rem 0;
	}
	&__title {
		margin-bottom: 1rem;
		font-size: 2rem;
		font-weight: bold;
		text-transform: uppercase;
	}
	&__text {
		margin-bottom: 1rem;
		font-size: 1.6rem;
		line-height: 1.3;
	}
	&__price {
		margin-top: auto;
		padding-top: 2rem;
		border-top: 1px solid #999;
	}
}
