.btn {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1rem 2rem;
	font-size: 2rem;
	font-weight: bold;
	color: white;
	background: $accent;
	border: none;
	transition: all 0.4s;
	&.btn--empty {
		background: transparent;
		color: $accent;
		border: 1px solid $accent;
	}
}
